<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{._internal.Name}}</title>
    <link rel="icon" href="/public/assets/icon.svg" style="color: #4d7c0f;">
    <link rel="mask-icon" href="/public/assets/icon.svg" color="#4d7c0f">
    {{ template "frontend/views/imports/styles" .}}
    {{ template "frontend/views/imports/scripts" .}}
  </head>

  <body hx-ext="morphdom-swap" class="site">
    {{template "frontend/views/partials/body" .}}
  </body>
</html>
