
{{if .}}
{{else}}
    <p>Menu not found</p>
{{end}}
{{range .SubNodes}}
    <details>
    {{if eq $.CurrentPath .FullPath}}
        <summary class="menu-item menu-item-active">
    {{else}}
        <summary class="menu-item">
    {{end}}
            <span class="{{if .SubNodes}}{{else}}no-subnodes{{end}}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="open w-6 h-6">
                    <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="close w-6 h-6">
                    <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                </svg>                  
            </span>
            <a class="p-4 w-full md:hidden" href="{{ .FullPath }}" hx-on:click="hideEl('#menu')"> {{ .Name }} </a>
            <a class="p-4 w-full hidden md:block" href="{{ .FullPath }}"> {{ .Name }} </a>
        </summary>

        <div class="menu-children">
            {{if .SubNodes}}
                {{ $m := MenuSetCurrentPath . $.CurrentPath }}
                {{template "frontend/views/partials/menu-item" $m}}
            {{end}}
        </div>
    </details>
{{end}}
